@media screen and (max-width: 480px) {
    .a{
        width: 100%;
        height: 20vh;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
    }
    .wrap{
        width: 100%;
        height: 60vh;
    }
    .f{
        width: 100%;
        height: 20vh;
    }
}