*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.pink{
    background-color: hotpink;
}
.black{
    background-color: black;
    color: white;
}
.block p {
    width: 70%;
    margin-top: 20px;
    text-align: center;
}