* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(159, 189, 255, 0.5);
}

header {
    margin-top: 15vh;
    font-size: 140px;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-top: 100px;
}

.box {
    height: 20vh;
    width: 25vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 16px 16px 37px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 16px 16px 37px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 16px 37px -7px rgba(0, 0, 0, 0.75);
}

.black {
    background-color: #000000;
    color: white
}

.red {
    background-color: red;
    color: white
}

.green {
    background-color: green;
    color: white
}

.blue {
    background-color: blue;
    color: white
}

.fuchsia {
    background-color: fuchsia;
    color: white
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
    color: white;
}

.maroon {
    background-color: maroon;
    color: white;
}

.olive {
    background-color: olive;
    color: white;
}

.text-style p {
    margin-top: 20px;
    font-size: 40px;
}
