@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3004px;
    background-color: #1E1E1E;;
}

header {
    height: 60px;
    width: 403px;
    display: flex;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin: 36px 51px 0 auto;
    color: #E9E3DC;
    justify-content: center;
    align-items: center;
}
header>div{
    margin: 20px;
}
header>div:last-child{
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 1255px;
    height: 285px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
}
.burger_img{
    width: 420px;
    height: 396px;
    flex-shrink: 0;
    margin: 33px auto 0 auto;
}
.about{
    display: flex;
    justify-content: space-between;
    width: 1340px;
    height: 369px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    margin: 32px auto 0 auto;

}
.left_block{
    display: flex;
    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin-left: 109px;
}
.right_block{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
.right_block p{
    font-family: "Inter", sans-serif;
    width: 521px;
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 176px;
    margin-top: 34px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 #000;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
.double_photo{
    width: 1340px;
    height: 753px;
    margin: 64px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.people{
    width: 1340px;
    margin: 64px auto 0 auto;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 895px;
    margin: 64px auto 0 auto ;
}
.end p{
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}
.end button{
    background: #D1EF53;
}
