@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 12vw;
    height: 20vh;
    background-color: #ffc1ac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rubik- {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sedgwick {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}



